RewriteEngine On

RewriteRule ^products$ products/ [R=301,L]
RewriteRule ^industries$ industries/ [R=301,L]

RewriteCond %{REQUEST_URI} !/$
RewriteRule ^products/([a-z0-9-]+)$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_URI} !/$
RewriteRule ^industries/([a-z0-9-]+)$ %{REQUEST_URI}/ [R=301,L]

RewriteRule ^products/([a-z0-9-]+)/$ product.php?slug=$1 [L,QSA]
RewriteRule ^industries/([a-z0-9-]+)/$ industry.php?slug=$1 [L,QSA]
